---

---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>DPM Deliveries</title>
	</head>
	<body>				
		<div class="flex flex-col items-center justify-center h-screen gap-5">
            <h1 class="text-3xl md:text-5xl font-bold text-primary">🚚 Oops! Lost in Transit</h1>
            <p class="text-secondary">We couldn’t find the page you’re looking for.</p>
            <div class="mt-2 flex items-center gap-2">
                <a href="/" class="text-primary font-bold text-sm">Back to Home</a>
                <a href="tel:+233554436269" class="text-primary font-bold text-sm">Contact Us</a>
            </div>
        </div>
	</body>
</html>
