---
import Layout from '../layouts/Layout.astro';
import { Button } from "@heroui/react";
---

<Layout>
	<h2>Home</h2>
	<a href="/delivery">
		<Button color="primary">Delivery</Button>
	</a>
</Layout>
