---
import Container from "./Container.astro";

---

<footer class="bg-secondary text-white">
    <Container>
        <div class="flex items-center justify-between">
            <h4 class="font-bold text-lg">DPM Deliveries</h4>
            <p class="text-white">&copy; {new Date().getFullYear()} DPM Deliveries. All rights reserved.</p>
        </div>
    </Container>
</footer>
